---
import MainLayout from "@layouts/MainLayout.astro";
import { Image, Picture } from "astro:assets";
import postImage05 from "@images/post-05.png";
---

<MainLayout title="Imágenes">
  <h1 class="text-5xl text-white">Imágenes</h1>
  <!-- el eager carga la imagen con el componente -->
  <img
    loading="eager"
    width="250"
    height="250"
    src="/assets/images/post-05.png"
  />

  <h1>normal quality</h1>
  <Image
    src={postImage05}
    width="250"
    height="250"
    alt="imagen para optimizacion renderizada en src del proyecto"
  />

  <h1>low quality</h1>
  <Image
    quality="low"
    src={postImage05}
    width="250"
    height="250"
    alt="imagen para optimizacion renderizada en src del proyecto"
  />

  <h1>high quality</h1>
  <Image
    quality="high"
    src={postImage05}
    width="250"
    height="250"
    alt="imagen para optimizacion renderizada en src del proyecto"
  />

  <h1>Formats</h1>
  <Image
    format="avif"
    src={postImage05}
    width="250"
    height="250"
    alt="imagen para optimizacion renderizada en src del proyecto"
  />

  <h1>Picture include formats</h1>
  <Picture
    formats={["jpeg", "png"]}
    widths={[240, 540, 720, postImage05.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${postImage05.width}px`}
    src={postImage05}
    width="250"
    height="250"
    alt="imagen para optimizacion renderizada en src del proyecto"
  />

  <div style="height: 2000px;"></div>
  <!-- el lazy carga la imagen cuando entra en la vista -->
  <img loading="lazy" src="/assets/images/post-05.png" />
</MainLayout>
<style>
  h1 {
    @apply text-white mt-10;
  }
</style>
