---
import { type ISpecificPokemon } from "@interfaces/specific-pokemon.interface";

interface Props {
  name: string;
  url: string;
  isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;

const res = await fetch(`${url}`);
const data = (await res.json()) as ISpecificPokemon;

const officialArtWork = data.sprites.other?.["official-artwork"].front_default;
const id = url.split("/").at(-2);
---

<!-- href={`/pokemon/${id}`} -->
<a
  class:list={[
    "flex flex-col items-center justify-center p-2  rounded",
    !isBig && "border",
  ]}
  href={`/pokemons/${name}`}
>
  <img
    transition:name={`${name}-image`}
    src={officialArtWork}
    alt={name}
    class:list={[{ "w-22 h-22": !isBig, "w-26 h-26": isBig }]}
  />
  <span class:list={["capitalize", { "text-3xl": isBig }]}>#{id} {name}</span>
</a>
